<mat-expansion-panel>
  <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2%">
      <!--<div fxLayoutAlign="center center">-->
      <!--<span class="status" [ngClass]="{'enabled': addOn.enabled, 'disabled': !addOn.enabled}"></span>-->
      <!--</div>-->
      <div>
        <mat-slide-toggle matTooltipPosition="after"
                          [matTooltip]="addOn.status === 'enabled' ? 'Disable': 'Enable'"
                          [color]="addOn.status  === 'enabled' ? 'accent' : 'warn'" [checked]="addOn.status === 'enabled'"
                          (change)="onToggleChange($event, addOn);" (click)="$event.stopPropagation();">
          {{addOn.name}}
        </mat-slide-toggle>
      </div>
      <div>
      </div>
      <div fxFlex fxLayoutAlign="end">

      </div>
    </div>
  </mat-expansion-panel-header>
  <p [innerHtml]="addOn.description"></p>
  <div *ngIf="logs !== ''">
    <h4>Logs</h4>
    <app-logs [logs]="logs"></app-logs>
  </div>

</mat-expansion-panel>
