<mat-expansion-panel>
  <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2%">
      <!--<div fxLayoutAlign="center center">-->
      <!--<span class="status" [ngClass]="{'enabled': addOn.enabled, 'disabled': !addOn.enabled}"></span>-->
      <!--</div>-->
      <div>
        <mat-slide-toggle matTooltipPosition="after"
                          [matTooltip]="addOn.enabled ? 'Disable': 'Enable'"
                          [color]="addOn.enabled ? 'accent' : 'warn'" [checked]="addOn.enabled"
                          (change)="onToggleChange($event, addOn);" (click)="$event.stopPropagation();">
          {{addOn.name}}
        </mat-slide-toggle>
      </div>
      <div>
      </div>
      <div fxFlex fxLayoutAlign="end">

      </div>
    </div>
  </mat-expansion-panel-header>
  <p [innerHtml]="addOn.info"></p>
</mat-expansion-panel>
