<div class="container">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2%">
    <div fxLayoutAlign="center center">
      <span class="status" [ngClass]="{'enabled': addOn.enabled, 'disabled': !addOn.enabled}"></span>
    </div>
    <div fxFlex>
      {{addOn.name}}
    </div>
    <div></div>
    <div fxFlex fxLayoutAlign="end">
      <mat-slide-toggle color="accent" [checked]="addOn.enabled" (change)="onToggleChange($event, addOn)"></mat-slide-toggle>
    </div>
  </div>
</div>
