<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <mat-toolbar>
      <span>Menu</span>
      <div fxFlex></div>
      <div fxLayout="row">
        <mat-icon class="theme-slider-icon white-theme-icon">brightness_7</mat-icon>
        <mat-slide-toggle color="accent" [checked]="isDarkTheme" (toggleChange)="onThemeToggle()">
        </mat-slide-toggle>
        <mat-icon class="theme-slider-icon dark-theme-icon">brightness_2</mat-icon>
      </div>
    </mat-toolbar>
    <mat-nav-list>

      <div mat-list-item>
        <a mat-list-item [routerLink]="['dashboard']">
          <mat-icon>dashboard</mat-icon>
          <div fxFlex fxLayoutAlign="center center" class="sidenav-span">{{dashboardLink}}</div>
        </a>
      </div>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{ appTitle }}</span>
      <div fxFlex></div>
      <div fxLayout="end center">

      </div>

    </mat-toolbar>
    <div class="container">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
