@import "variables";

.sidenav-container {
  height: $sidenav-height;
}

.sidenav {
  width: $sidenav-width;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.sidenav-span {
  margin-left: 5px;
}

.theme-slider-icon {
  display: table-row-group!important;
}

.white-theme-icon {
  margin-right: 5px;
}

.dark-theme-icon {
  margin-left: 5px;
}

